* {
    margin: 0%;
    padding: 0cap;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: rgb(8, 5, 12);
    color: rgba(246, 246, 246, 1);
    font-family: 'Montserrat', sans-serif;
}

.tituloBlog {
    font-family: 'Krona One', sans-serif;
}

.destaqueTitulo {
    color: rgba(181, 121, 255, 1);
}

.destaqueParagrafo {
    color: aquamarine;
}

a {
    color: rgba(181, 121, 255, 1);
}


