:root {
    --cor-primaria: rgb(215, 214, 251);
    --cor-secundaria: rgb(237, 231, 255);
    --cor-terciaria: #cd8ceb;
    --cor-quaternaria: rgb(139, 87, 199);
} 

* {
    margin: 0%;
    padding: 0cap;
    text-decoration: none;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background: radial-gradient(circle at right, #1e012e, #000000);
    transition: background 0.1s linear;
    color: var(--cor-secundaria);
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10% 16%;
    gap: 3rem;

}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-family: "PT Serif", serif;;
    font-size: 3.90rem;
    line-height: 100%;
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    margin-top: 5%;
    margin-bottom: 5%;
}

.apresentacao__conteudo__links {
    display: flex;
    justify-content: space-between;
}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-right: 1rem;
    align-items: center;
    background-color: var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 16px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    color: black;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.apresentacao__links__link:hover {
    background: linear-gradient(90deg, var(--cor-terciaria), var(--cor-quaternaria), var(--cor-terciaria));
}


.destaqueTitulo {
    color: var(--cor-terciaria);
    font-family: 'Montserrat', sans-serif;
    font-size: 3.84rem;

}

.destaqueParagrafo {
    color: var(--cor-terciaria);
}

.cabecalho {
    padding: 30px 70px;
    display: flex;
    justify-content: center;
}

.cabecalho__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    
}

.item_menu {
    color: var(--cor-secundaria);
    font-size: 1.5rem;
}

.logotipo {
    font-family: 'Krona One', sans-serif;
    color: var(--cor-primaria);
}

.logos {
    width: 40px;
    align-items: center;
}

.rodape {
    display: flex;
    justify-content: center;
}

.Foto-Bianca {
    width: 50%;
}

@media (max-width: 1200px) {

    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .Foto-Bianca {
        width: auto;
    }
}